body{
	background-color: #FFF;
  font-family: 'Palatino','palatino linotype',sans-serif;
	font-size: 16px;
}

h2{
	padding: 40px 0 0;
  text-align: center;
  font-size: 2em;
  margin-top: 0;
  letter-spacing: 1px;
  word-spacing: 5px;
}
h2 img{
	width: 30px;
	transform: rotate(-30deg);
}
h3{
	padding-bottom: 40px;
  text-align: center;
  font-size: 1.5em;
}

#timer{
	font-size:1.3em;
	position:absolute;
	text-align:center;
	right:0;
	bottom:0;
}

#record{
	font-size:1.3em;
	position:absolute;
	bottom:0;
}

#game{
	position: relative;
	margin: 0 auto;
	width: 500px;
}

#numbers div {
  width: 124px;
  height: 82px;
  display: block;
  position: relative;
  padding-top: 42px;
	font-size: 1.8em;
	font-weight: bold;
	color:#FFF;
	text-shadow:1px 1px 2px #222;
	margin-right: 1px;
	margin-bottom: 1px;
	text-align: center;
	float: left;
	cursor: pointer;
}
#numbers div::after {
  content: "";
  background: radial-gradient(transparent, rgba(0,0,0,.5)) fixed, url(../img/before.jpg);
	background-size: contain;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#numbers div.hit{
	background: #333 url(../img/after.jpg);
	background-size: cover;
	color: #333;
	text-shadow:1px 1px 2px #FFF;
}

#startScene{
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: 500px;
	background: #CCC url(../img/top.jpg);
	background-size: cover;
}

#startScene p{
	margin: 205px 0 10px;
	text-align: center;
	color: #FFF;
	text-shadow:1px 1px 2px #0E1215;
	font-size: 2em;
	font-weight: bold;
}

button:focus{
	outline:none;
}
button{
	display:block;
	margin: 0 auto;
	background-color: #0E1215;
	color: #FFF;
	font-size: 2em;
	font-family: 'Palatino','Georgia',sans-serif;
	font-weight: bold;
	padding: 12px 30px 8px;
	cursor: pointer;
	border-radius: 10px;
	border: 3px solid #FFF;
	transition-duration: 0.5s;
}
button:hover{
	text-decoration: none;
	background-color: #FFF;
	color: #0E1215;
	border: 3px solid #0E1215;
}

#record {
	vertical-align: top;
}
#timer {
	vertical-align: top;
}

footer{
	clear: both;
	text-align: center;
	padding: 10px;
	padding-top: 20px;
}