body{
	margin: 0;
	font-family: 'Alegreya', Yu Gothic Medium, YuGothic, Trebuchet MS, Geneva, Tahoma, sans-serif;
  color: #FFF;
  line-height: 2;
  letter-spacing: 0.2em;
  word-spacing: 0.5em;
}

/* Reset CSS */
p, h1, h2, h3, h4, h5, h6{
	margin-top: 0;
}
img{
	vertical-align: bottom;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Link */
a{
	text-decoration: none;
}
/* Navigation */
nav li a{
	display: inline-block;
	position: relative;
	color: #FFF;
	transition-duration: 0.5s;
	z-index: 1;
}
nav li a::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 2px;
	background: #FFF;
	transform: scale(0, 1);
	transition: 0.4s;
}
nav li a:hover{
	transform: scale(1.1);
}
nav li a:hover:before {
	transform: scale(1);
}
/* Clearfix */
.clearfix::after{
	content: "";
  display: block;
  clear: both;
}

header{
	width: 1080px;
	margin: 0 auto;
	text-align: center;
}

#top{
	opacity: 0;
	transition: opacity 2s ease-in-out;
}
#opening {
	width: 500px;
	height: 500px;
	position: absolute;
	z-index: -1;
	top: 0;right: 0;bottom: 0; left: 0;
	margin: auto;
	opacity: 1;
	text-align: center;
}
.opening_svg{
	position: absolute;
  top: 62%;
  left: 122%;
  transform: translate(-50%, -50%);
	opacity: 0;
	animation: opening 4.5s ease-in-out;

}
.opening_svg2{
	width: 1400px;
	height: 1400px;
	position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.path {
  animation: draw 3.5s forwards;
	position: absolute;
	animation-delay: 0.5s;
}
 @keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
.opening_logo {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 500px;
	height: 500px;
	opacity: 0;
	animation: opening 4.5s ease-in-out;
	animation-delay: 2.5s;
}
@keyframes opening {
	0% {opacity: 0;}
	30% {opacity: 1;}
	80% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes opening_logo {
	0% {opacity: 0; top: 15%; width: 50%;}
	10% {opacity: 1; top: 15%; width: 50%;}
	15% {opacity: 1; top: 15%; width: 50%;}
	70% {opacity: 1; top: -10%; width: 20%;}
	100% {opacity: 0;}
}

.top-header .logo{
	width: 100%;
	opacity: 0;
	transition: opacity 1s;
}
.top-header .logo img{
	width: 160px;
	transition-duration: 0.5s;
}
.top-header .logo img:hover{
	transform: scale(1.2);
}
.top-header nav li{
	display: inline;
	font-size: 1.3em;
	padding: 0 60px;
  border-right: 1px solid #FFF;
  letter-spacing: 0.2em;
  word-spacing: 0em;
  font-family: 'Alegreya', serif;
}
.top-header nav li:last-child{
  border: none;
}

#top .content{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
#top2 .content{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.welcome{
	font-size: 30px;
	margin: 0;
}
.vantour{
	font-family: 'Permanent Marker', cursive;
	font-size: 11vw;
	line-height: 16vh;
  transform: rotate(-11deg);
  margin: 0;
  padding: 10px 0;
  transition: 1s ease-in-out;
}
.more{
	font-size: 20px;
	padding-top: 50px;
	padding-bottom: 0;
	margin: 0;
	line-height: 22px;
	letter-spacing: 1px;
}

.global-header .logo{
	float: left;
	margin: 5px 10px;
}

.animation {
  display: inline-block;
}
.animation:hover img {
  -webkit-animation: spin .3s ease-in-out;
  animation: spin .3s ease-in-out;
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotateY(360deg); }
}
@keyframes spin {
  100% { transform: rotateY(360deg); }
}

.global-header{
	float: left;
	position: fixed;
  top: -200px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  transition-duration: 0.5s;
}
.global-header nav{
	width: 960px;
	margin: 0 auto;
}
.global-header nav ul{
	text-align: center;
	margin: 10px 0;
}
.global-header nav li{
	display: inline;
	font-size: 1.1em;
	padding: 0 60px;
  border-right: 1px solid #333;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  font-family: 'Alegreya', serif;
}
.global-header nav li:last-child{
  border: none;
}
.global-header nav li a{
	color: #333;
}
.global-header a::before{
	background: #333;
}

html, body, section{
		height: 100%;
}

#gotoabout{
	text-align: center;
}
#gotoabout img{
	margin-top: 25px;
	animation: arrow_anime 1s infinite linear;
	transition: 0.5s ease-in-out;
	opacity: 0.7;
}
#gotoabout img:hover {
	transform: scale(1.2) ;
	opacity: 1;
	animation: none;
}

@keyframes arrow_anime {
	0% {margin-top: 25px;}
	50% {margin-top: 45px;}
}

#about{
		background-color: #333;
		text-align: center;
		height: 50vw;
}

#about .content{
	width: 1080px;
	margin: 0 auto;
}
#about h1{
	margin: 80px 0 40px 0;
	display: inline-block;
	position: relative;
	color: #FFF;
	transition-duration: 0.5s;
}
#about2 h1{
	font-size: 1.6em;
}
h1::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 2px;
	background: #FFF;
	transform: scale(0, 1);
	transition: 0.4s;
}
.active::before {
	transform: scale(1);
}
.active {
	transform: scale(1.1);
}

.psline::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 2px;
	background: #FFF;
	transform: scale(0, 1);
	transition: 0.4s;
}
.psline:hover:before {
	transform: scale(1);
}
.flag img{
	background-color: #FFF;
	border-radius: 5px;
}
#details{
	width: 1080px;
	margin: 0 auto;
	padding: 0 30px;
	float: left;
}
.info{
	width: 300px;
	float: left;
	margin: 20px;
	padding-top: 20px;
	border: 1px solid #FFF;
	border-radius: 5px;
	margin-bottom: 30px;
}
.info:hover{
	background-color: rgba(255, 255, 255, .1);
}

.info p{
	font-size: 1.5em;
	word-spacing: 0;
	letter-spacing: 0.1em;
	font-family: ;
}
.info .sub{
	font-size: 1.2em;
	word-spacing: 0.3em;
	letter-spacing: 0.1em;
	font-family: ;
}
.andmore{
	clear: both;
	margin: 0 auto;
}
.button_effect2 {
  position: relative;
  display: inline-block;
  padding: .5em 2em;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #FFF;
  background-color: #333;
  height: 30px;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
}
.button_effect2::after {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 1;
  display: block;
  content: attr(data-hover);
  font-size: 2em;
  line-height: 0;
  width: 100%;
  height: 100%;
  padding: .6em 1em;	
  background-color: #fff;
  color: #333;
  opacity: 0;
  transition: all .3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.button_effect2:hover::after {
  bottom: 0;
  opacity: 1;
}

/*gototop*/
#gototop{
	position: fixed;
	z-index: 2;
	bottom: -100px;
	right: 20px;
	cursor: pointer;
  display: block;
  width: 25px;
  height: 25px;
  opacity: .7;
  border-radius: 11px;
  padding: 12px;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  will-change: transform;
  -webkit-transform: rotate(-11deg);
  transform: rotate(-11deg);
  -webkit-transition: background-color .1s ease-out,opacity .1s ease-out,-webkit-transform .2s ease-out;
	background-color: #FFF;
  text-align: center;
  transition-duration: 0.3s;
}
#gototop::after {
  position: absolute;
  bottom: -2px;
  left: -10%;
  z-index: -1;
  content: '';
  width: 110%;
  height: 6px;
  background: -moz-radial-gradient(#FFF,rgba(000,000,000,.5)); 
  background: -webkit-radial-gradient(#FFF,rgba(000,000,000,.5)); 
  background: radial-gradient(#FFF,rgba(000,000,000,.5)); 
  border-radius: 50%;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  transform: rotate(11deg);
}
#gototop:hover {
  transform: rotate(0deg);
  opacity: 1;
}
#gototop:hover::after {
  display: none;
}

/*PLACES TO GO*/
#places{
	background-color: #333;
	font-family: 'Varela Round', sans-serif;
	text-align: center;
	padding-top: 80px;
}
#places .global-header{
	top: 0px;
}
#places .content{
	width: 1080px;
	margin: 0 auto;
	letter-spacing: 0em;
	word-spacing: 0em;
	padding-bottom: 40px;
}
#places h1{
	padding-top: 20px;
	display: inline-block;
	position: relative;
	letter-spacing: 0.1em;
	opacity: 0;
	transition-duration: 1s;
}

#each_site {
  margin: 30px 10px;
  float: left;
  background-color: gray;
  border: 0;
  border-radius: 15px;
  width: 320px;
  padding: 10px 10px;
}

.photo {
  position: relative;
  margin: 10px;
  /*padding: 2px;*/
  float: left;
  border-radius: 15px;
  background-color: rgba(225,225,225,0);
  width: 300px;
  height: 250px;
  cursor: pointer;
  z-index: 1;
}
.photo:hover{
  background-color: rgba(225,225,225,1);
  margin-left:11px;
  margin-top:11px;
  margin-right: 9px;
  margin-bottom: 9px;
}

.photo img {
  transition: 1s ease-in-out;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  z-index: 1;
}
.photo img {
  transition: 0s ease-in-out;
  border: 2px dotted #FFF;
}
.photo:hover img {
  opacity: 0.6;
  border: gray;
}

.text {
  clear: both;
  float: left;
  width: 300px;
  margin: 10px;
}
.text span{
	font-style: italic;
	font-weight: bold;
}

.line_hover a::before,
.line_hover a::after {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  content: '';
  transition-duration: 1s;
  z-index: 1;
}
.line_hover a::before {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  border-radius: 15px;
  transform: scale(0, 1);
}
.line_hover a::after {
  border-right: 3px solid #000;
  border-left: 3px solid #000;
  border-radius: 15px;
  transform: scale(1, 0);
}
.photo a:hover::after,
.photo a:hover::before {
  transform: scale(1);
}

.title_hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000;
  font-family: 'Alegreya', serif;
  font-size: 30px;
	font-weight: bold;
  line-height: 40px;
  opacity: 0;
  z-index: 1;
  transition-duration: 1s;
  padding: 5px;
}
.title_hover a{
	color: #000;
}

.title_hover a::before,
.title_hover a::after {
  border-bottom: solid 2px #000;
  bottom: 0;
  border-top: solid 2px #000;
  top: 0;
  content: "";
  display: block;
  position: absolute;
  transition: 1s all ease;
  -webkit-transition: 0.5s all ease 0s;
  width: 0;
}
.title_hover a::before {
  left: 50%;
}
.title_hover a::after {
  right: 50%;
}
.title_hover a:hover::before,
.title_hover a:hover::after {
  width: 50%;
}

#events{
	background-color: #333;
	font-family: 'Varela Round', sans-serif;
	text-align: center;
	padding-top: 80px;
}
#events .global-header{
	top: 0px;
}
#events .content{
	width: 1080px;
	margin: 0 auto;
	letter-spacing: 0em;
	word-spacing: 0em;
}
#events h1{
	padding-top: 20px;
	margin-bottom: 40px;
	display: inline-block;
	position: relative;
	transition-duration: 1s;
	letter-spacing: 0.1em;
	opacity: 0;
}

.main{
	width: 700px;
	float: left;
	border-right: 2px dotted;
	margin-bottom: 30px;
}
/*Pickadate Calendar*/
#calendar{
	font-family: 'Varela Round', sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.5;
  max-width: 540px;
  margin: 0 auto;
  padding: 2em 0;
}
#calendar p{
	text-align: left;
	font-size: 1.2em;
	margin-bottom: 0;
}
fieldset {
  margin: 1em 0;
  border: 0;
  padding: 0;
  position: relative;
}
#events input {
  font-size: 1em;
	font-family: 'Varela Round', sans-serif;
  font-weight: 200;
  border: 2px solid #FFF;
  border-radius: 10px;
  padding: .75em 1em;
  display: block;
  width: 65%;
  box-sizing: border-box;
  margin: 0 auto;
  float: left;
  cursor: pointer!important;
	background-image: url(../img/calendar2.png);
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: 97%;
} 
    
input:focus{
	outline: #FFF dotted!important;
}
a:focus{
	outline: #FFF dotted;
}
*:hover{
	outline: none!important;
}
button:focus{
	outline: #FFF dotted;
}

#search{
	text-align: left;
	margin-top: 30px;
}
.button_effect {
  position: relative;
  display: inline-block;
  padding: .5em 2em;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #FFF;
  background-color: #333;
  height: 40px;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
}
.button_effect::after {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 2;
  display: block;
  content: attr(data-hover);
  width: 100%;
  height: 100%;
  padding: .6em 1em;
  background-color: #fff;
  color: #333;
  opacity: 0;
  transition: all .3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.button_effect:hover::after {
  bottom: 0;
  opacity: 1;
}

.whitespace:before {
  content: "...some content here...";
  color: #ccc;
  background: #f5f5f5;
  margin: 1em 0;
  padding: 5em 0;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-align: center;
  display: block;
  text-transform: uppercase;
}

aside{
	width: 330px;
	padding: 0 10px;
	float: right;
  font-family: 'Alegreya', serif;
}
aside h2{
	margin-bottom: 10px;
}
#insta{
	margin-top: 40px;
}
.insta_logo2{
	background-color: white;
	border: 0px;
	border-radius: 10px;
	width: 120px;
	margin: 0 auto;
	padding: 2px;
}
#insta_pics{
	padding-top: 20px;
}
.thumbnail{
	width: 100px;
	height: 100px;
	margin: 5px;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
}
.thumbnail:nth-child(3n){
	margin-right: 0;
}
.thumbnail img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

#events a img{
	transition-duration: 0.5s;
}
#events a img:hover{
	opacity: 0.8;
}

footer{
	font-family: 'Alegreya', serif;
	padding: 10px;
	clear: both;
	font-size: 0.9em;
	text-align: center;
	background-color: #333;
	border-top: 2px dotted rgba(255, 255, 255, .5);
}

#hamburger{
		display: none;
		position: fixed;
		z-index: 2; 
		top: 20px;
		left: 20px;
		width: 60px;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, .5);
		text-align: center;
		padding: 5px;
		line-height: 0;
}
.menu{
	padding-bottom: 5px;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 45px;
  height: 38px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
  -webkit-animation: menu-bar01 .75s forwards;
  animation: menu-bar01 .75s forwards;
}
@-webkit-keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(17px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(17px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar01 {
  0% {
    transform: translateY(17px) rotate(45deg);
  }
  50% {
    transform: translateY(17px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.menu-trigger span:nth-of-type(2) {
  top: 17px;
  transition: all .25s .25s;
  opacity: 1;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
  -webkit-animation: menu-bar02 .75s forwards;
  animation: menu-bar02 .75s forwards;
}
@-webkit-keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-17px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-17px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar02 {
  0% {
    transform: translateY(-17px) rotate(-45deg);
  }
  50% {
    transform: translateY(-17px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.menu-trigger.active2 span:nth-of-type(1) {
  -webkit-animation: active-menu-bar01 .75s forwards;
  animation: active-menu-bar01 .75s forwards;
}
@-webkit-keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(17px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(17px) rotate(45deg);
  }
}
@keyframes active-menu-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(17px) rotate(0);
  }
  100% {
    transform: translateY(17px) rotate(45deg);
  }
}
.menu-trigger.active2 span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active2 span:nth-of-type(3) {
  -webkit-animation: active-menu-bar03 .75s forwards;
  animation: active-menu-bar03 .75s forwards;
}
@-webkit-keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-17px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-17px) rotate(-45deg);
  }
}
@keyframes active-menu-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-17px) rotate(0);
  }
  100% {
    transform: translateY(-17px) rotate(-45deg);
  }
}

/*Contact*/
#contact #wrap{
	letter-spacing: 0.1em;
	word-spacing: 0em;
	margin: 35px 0;
}

canvas{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#contact .content{
	width: 960px;
	margin: 0 auto;
}

.contact_title{
	text-align: center;
	margin-top: 80px;
}
#contact h1{
	padding-top: 20px;
	margin-bottom: 40px;
	display: inline-block;
	position: relative;
	transition-duration: 1s;
	letter-spacing: 0.1em;
	opacity: 0;
	color: #333;
	font-size: 2em;
}
#contact h1::before{
	background: #333;
}
#contact .form{
	background-color: #333;
	padding: 30px 50px;
	border-radius: 15px;
}
#contact input{
	border-radius: 5px;
	font-size:0.9em;
	padding: 0px 5px;
}
#contact .form dl dt{
	width: 200px;
	padding: 10px 0;
	float: left;
	clear: both;
}
#contact .form dl dd{
	padding: 10px 0;
}
#contact .form .name{
	width: 240px;
	height: 30px;
}
#contact .form .email{
	width: 300px;
	height: 30px;
}
#contact .form .tel{
	width: 240px;
	height: 30px;
}
#contact .form .dropdown{
	height: 30px;
	font-size: 0.8em;
	background: #FFF;
}
#contact .form .message{
	width: 500px;
	height: 150px;
	padding: 5px;
	font-size: 0.9em;
}
#contact textarea{
	border-radius: 10px;
}
#contact .form .btn{
	background-color: #FFF;
	color: #333;
	font-size: 1.33em;
	width: 110px;
	display: block;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	border: 2px solid #FFF;
	margin-left: 200px;
	transition-duration: .5s;
  font-family: 'Alegreya', serif;
}
#contact .form .btn:hover{
	background-color: #333;
	color: #FFF;
	cursor: pointer;
}
#contact .form .required::after{
	content: " * ";
	color: #F00;
}
#contact .form .attention{
	margin: 20px 0 0 200px;
}

#contact .omake{
	font-size: 0.9em;
	line-height: 1.2;
}

#contact footer{
	border: none;
	color: #333;
	font-size: 1em;
	background-color: white;
	margin: 10px 5px;
}
.fade{
	color: #333;
	display: flex;
	align-items: center;
}
.fade:before, .fade:after{
	content: "";
	flex-grow: 1;
	height: 2px;
	background: #333;
	display: block;
}
.fade:before{
	margin-right: 1em;
	background: -webkit-linear-gradient(right, #333, transparent);
	background: linear-gradient(right, #333, transparent);
}
.fade:after{
	margin-left: 1em;
	background: -webkit-linear-gradient(left, #333, transparent);
	background: linear-gradient(left, #333, transparent);
}

.container{
	width: 960px;
	background-color: #333;
	border-radius: 15px;
	padding: 40px 0;
}
.map-set{
	border: 3px dotted;
	border-radius: 5px;
	margin: 20px 80px;
}
.contact-info{
	text-align: center;
	margin: 20px 0px;
	font-family: 'Varela', sans-serif;
}
.contact-info img{
	width: 30px;
	margin-right: 20px;
}
#contact .global-header{
	top: 0px;
}

/*レスポンシブデザイン*/
@media screen and (max-width: 600px){
	body{
		font-size: 1em;
		line-height: 1.7em;
	}
	#opening{
		width: 100vw;
		display: none;
	}
	#top{
		opacity: 1;
	}
	#index footer{
		position: fixed;
		bottom: 0;
		width: 100vw;
	}
	#wrap{
		width: auto;
		margin: 0;
		padding: 0;
	}
	#top .content{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	#top2 .content{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	.welcome{
		font-size: 2em;
	}
	.vantour{
		font-size: 50px;
		line-height: 50px;
		padding-top: 50px 20px 0 20px;
		margin-top: 40px;
	}
	.more{
		font-size: 1.5em;
		line-height: 1em;
	}

	nav{
		position: fixed;
		z-index: 2;
		display: none;
		color: #333;
		background-color: rgba(255, 255, 255, .7);
		height: 50vw;
		float: none;
	}
	.global-header nav{
		width: 240px;
		margin: 70px;
		border-radius: 10px;
	}
	.global-header nav li{
		display: block;
		border: none;
		padding: 5px 30px;
	}
	.global-header nav li a{
		border-bottom: 2px dotted;
	}

	#hamburger{
		display: block;
		position: fixed;
		z-index: 2; 
		top: 5px;
		left: 5px;
		width: 60px;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0);
		text-align: center;
		padding: 5px;
		line-height: 0;
	}
	.global-header{
		position: fixed;
	  top: 0px;
	  width: 100vw;
	  background-color: rgba(255, 255, 255, 0.7);
	  z-index: 2;
	}
	.global-header .logo{
		text-align: center;
		float: none;
	}
	.global-header .logo img{
		width: 120px;
		height: 100%;
	}
	#about .content{
		width: 100vw;
		margin: 0 auto;
		text-align: center;
		background-color: #333;
	}
	#details{
		width: 95vw;
		margin: 0px 4vw;
		padding: 0px;
		float: left;
		background-color: #333;
	}
	.info{
		width: 25vw;
		height:40vw;
		float: left;
		margin: 10px;
		padding-top: 10px;
		border: 1px solid #FFF;
		border-radius: 5px;
		margin-bottom: 15px;
		font-size: 2vw;
	}
	#about img{
		width: 15vw;
	}
	#about h1{
		margin-top: 100px;
	}
	#about2{
		display: inline-block;
		padding-bottom: 100px;
	}
	#index footer{
		position: fixed;
		bottom: 0;
		width: 100vw;
	}
}
@media screen and (max-height: 800px) and (min-width: 1300px) and (max-width: 1800px) {
	.vantour{
		font-size: 10vw;
		line-height: 15vh;
	}
	.button_effect2 {
	  padding: .25em 1em;
	  height: 22px;
	  font-size: 13px;
	}
	.button_effect2::after {
	  padding: .4em .5em;
	}
}
@media screen and (min-width: 1800px) and (max-width: 2500px) {
	.vantour{
		font-size: 10vw;
		/*line-height: 15vh;*/
	}
	/*#contact footer{
		position: absolute;
		bottom: 0;
		width: 100%;
	}*/
}
@media screen and (min-width: 737px) and (max-width: 1023px) {
	body{
		font-size: 1em;
		line-height: 1.7em;
	}
	#top .content{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	#top2 .content{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	#about .content{
		width: 100vw;
		margin: 0 auto;
		text-align: center;
		background-color: #333;
	}
	#about2 .content{
		width: 100vw;
		margin: 0 auto;
		text-align: center;
		background-color: #333;
	}
	.top-header{
	  width: 100vw;
	}
	.top-header nav{
		margin: 20px;
	}
	.top-header nav li{
	  padding: 0 20px;
	}
	.global-header{
	  width: 100vw;
	}
	.global-header nav{
	  width: 100vw;
	}
	.global-header nav li{
	  padding: 0 20px;
	}
	.global-header .logo{
		text-align: center;
		float: none;
	}
	.vantour{
		margin: 50px;
		font-size: 12vw;
		line-height: 12vw;
	}
	#details{
		width: 90vw;
		margin: 0 auto;
		padding-left: 6vw;
		padding-bottom: 100px;
		float: left;
		background-color: #333;
	}
	.info{
		width: 26vw;
		height: 26vw;
		float: left;
		margin: 12px;
		padding-top: 10px;
		border: 1px solid #FFF;
		border-radius: 5px;
		margin-bottom: 15px;
		font-size: 2vw;
	}
	#about h1{
		margin-top: 150px;
	}
	#about h2{
		margin-bottom: 0;
		padding-bottom: 50px;
	}

}



